* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 3rem; /* Adjust as necessary to prevent content from being hidden */
  min-height: 100vh;
}

/* NavBar Design */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 40px;
  width: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.nav-list .link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-list .link:hover {
  color: #0bb97f;
  cursor: pointer;
}

.nav-list .login-btn {
  padding: 8px 16px;
  background-color: #0a3abd;
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-list .login-btn:hover {
  background-color: #0ccfdd;
}

/* Card Design */
.card {
  width: 220px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  overflow: hidden; /* Hide overflowing content */
  margin: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #e0e0e0;
}

.card-text {
  padding: 1rem;
  overflow: hidden; /* Hide overflowing content */
}

.card-text .cost-two {
  color: #06811a;
}

.card-text .stars {
  color: red;
}

.card h1,
.card h2,
.card h3,
.card h4 {
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
}

.card h1 {
  margin: 10px 0;
  font-size: 1.3rem;
  color: #333;
}

.card h2 {
  margin: 7px 0;
  font-size: 1.13rem;
  color: #333;
}

.card h3 {
  margin: 7px 0;
  font-size: 1rem;
  color: #383737;
}

.card h4 {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #888;
}

.restaurant-card-link {
  text-decoration: none;
}

.promoted-label {
  position: absolute;
  margin: 2px;
  padding: 2px;
  border-radius: 10px;
}

/* Body Component */
.body-component {
  margin: 1rem 3rem;
  display: flex;
  flex-direction: column;
}

/* Top of the body */
.top-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Rating Search */
.select-rating {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  border: 2px solid #0dcf85;
  border-radius: 5px;
  width: 4rem;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.select-rating:hover,
.select-rating:focus {
  border-color: #944ae9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  /* margin-left: auto; // Push search bar to the right
  max-width: 80%; */
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 1rem;
  border: 2px solid #0dcf85;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  outline: none;
}

.search-bar input[type="text"]:hover {
  border: 2px solid #8706ff;
}

.search-bar button {
  padding: 1rem 2rem;
  background-color: #0dcf85;
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #944ae9;
  /* color: #ffc107; */
}

/* Restaurant List */
.restaurant-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Adjust the minimum and maximum width as needed */
  gap: 1.5rem;
  justify-items: center;
  align-items: start;
  margin: 2rem 0;
  width: 100%; /* Occupy full width */
}

/* Footer */
.footer-component {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  width: 100%;
}

/* || RESTAURANT MENU SECTION || */
.menu-body {
  margin: 3rem 6rem;
}

.menu-card {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden; /* Hide overflowing content */
  margin: 1.5rem 1.5rem 7rem 1.5rem;
  padding: 1rem;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-card:hover {
  cursor: pointer;
  transform: skew(1.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.menu-card img {
  height: 10rem;
  width: 13rem;
  object-fit: cover;
  border: none;
  border-radius: 0.7rem;
}

.menu-card-text {
  padding: 1rem;
  overflow: hidden; /* Hide overflowing content */
}

.menu-card-text .menu-cost-two {
  color: #2395ca;
}

.menu-card-text .menu-stars {
  color: red;
}

.menu-card h3 {
  margin: 7px 0;
  font-size: 1.2rem;
  color: #1f1c1c;
}

.menu-card h4 {
  margin: 1rem 0;
  font-size: 1rem;
  color: #888;
}

.menu-card h5 {
  margin: 2rem 0 0 0;
  padding: 0.5rem 0 0 0;
  font-size: 0.8rem;
  color: #2c2b2c;
  border-top: 2px solid rgb(128, 124, 124);
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding: 1rem;
  font-size: 1.7rem;
  color: #0dcf85;
  border: none;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-header:hover {
  cursor: pointer;
  transform: skew(1);
  box-shadow: 0 4px 8px rgba(20, 204, 164, 0.3);
}

.menu-header .down-arrow:hover {
  animation: bounce 1.2s ease infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-7px);
  }
}

/* ACCORDION */
.menu-main-card-container.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.menu-header:active + .menu-main-card-container {
  max-height: 100vh;
}

/* || MENUITEM CARD || */
.menu-item-card {
  background-color: #f4f5f4;
  box-shadow: 0 4px 8px rgba(100, 177, 166, 0.25);
  margin: 1.5rem;
}

.menu-item-card:hover {
  transform: translateY(-5px);
}

.menu-card-left .menu-name {
  margin: 7px 0;
  font-size: 1.2rem;
  color: #1f1c1c;
}

.menu-card-left .menu-price {
  font-size: 1rem;
  color: #2395ca;
}

.menu-card-left .menu-description {
  margin: 1rem 0 0 0;
  font-size: 0.9rem;
  color: #78837e;
}

.menu-item-card .menu-card-right img {
  height: 8rem;
  width: 7rem;
  object-fit: cover;
  border: none;
  border-radius: 0.7rem;
}

.menu-item-card .menu-card-right {
  position: relative;
}

.add-btn {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.5rem;
  border: none;
  border-radius: 0.8rem;
  /* background-color: #0cdd8d;
  color: rgb(100, 22, 151); */
  background-color: black;
  color: white;
  font-weight: bold;
}

.add-btn:hover {
  background-color: #f0d90b;
  color: green;
  cursor: crosshair;
}

/* || ABOUT PAGE || */
.dummy-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dummy-content {
  text-align: center;
  width: 70vw;
  height: 60vh;
  border: none;
  border-radius: 1rem;
  background-color: #f4f5f4;
  box-shadow: 0 4px 8px rgba(59, 66, 66, 0.26);
  margin: 1.5rem;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dummy-content:hover {
  cursor: pointer;
  transform: skew(1.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* || MEDIA QUERY || */
@media only screen and (max-width: 720px) {
  .menu-body {
    margin: 2rem 4rem;
  }

  .menu-card {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.1rem;
    padding: 0.1px;
  }

  .menu-card img {
    width: 100%;
    height: 13rem;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0.1px;
  }

  .menu-item-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden; /* Hide overflowing content */
    margin: 1.5rem;
    padding: 1rem;
    align-items: center;
  }
}

@media only screen and (max-width: 660px) {
  .menu-item-card .menu-card-right img {
    height: 10rem;
    width: 8rem;
    object-fit: cover;
    border: none;
    border-radius: 0.7rem;
  }
}

@media only screen and (max-width: 600px) {
  /* Rating */
  .select-rating {
    font-size: 0.7rem;
  }

  /* Search Bar */
  .search-bar input[type="text"] {
    padding: 0.7rem;
    font-size: 0.7rem;
  }

  .search-bar button {
    padding: 0.7rem 1rem;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 560px) {
  .menu-item-card {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.1rem;
    padding: 0.1px;
    justify-content: space-between;
  }

  .menu-card-left {
    width: 100%;
    padding: 1rem;
  }

  .menu-card-right {
    width: 100%;
  }

  .menu-item-card .menu-card-right img {
    width: 100%;
    height: 10rem;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0.1px;
  }
}

@media only screen and (max-width: 520px) {
  .body-component {
    margin: 1rem 1rem;
  }

  .menu-body {
    margin: 2rem 3rem;
  }
}

@media only screen and (max-width: 368px) {
  /* Rating */
  .select-rating {
    font-size: 0.5rem;
    padding: 0.3rem;
    width: 3rem;
  }

  /* Search Bar */
  .search-bar input[type="text"] {
    padding: 0.5rem;
    font-size: 0.5rem;
  }

  .search-bar button {
    padding: 0.5rem 0.8rem;
    font-size: 0.5rem;
  }

  .menu-body {
    margin: 2rem 2rem;
  }
}

@media only screen and (max-width: 290px) {
  .nav-list {
    gap: 0.5rem;
  }
}
