* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 3rem; /* Adjust as necessary to prevent content from being hidden */
  min-height: 100vh;
}
