@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Playball&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant", serif;
  padding-left: 30px;
}

/* NavBar */
.navbar {
  margin-top: 25px;
  margin-bottom: 40px;
}

.navbar h1 {
  display: inline-block;
  font-weight: 300;
}

.nav-links {
  display: inline-block;
  margin-left: 32px;
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0 8px;
}

.nav-links li a:hover {
  color: rgb(12, 182, 125);
  font-weight: bold;
}

.nav-links a.active {
  border-bottom: 1px solid black;
}

/* Main */
.card {
  display: inline-block;
  width: 49.2%;
  padding-right: 20px;
  padding-bottom: 30px;
}

.card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card img:hover {
  opacity: 0.7;
}

.card h2 {
  display: inline-block;
  font-weight: 300;
}

/* Footer ~ About */
.about {
  width: 40%;
  margin: 90px 0 90px 150px;
}

.about h3 {
  font-size: 35px;
  font-weight: 300;
  margin: 10px 0;
}

.work-t {
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 5px;
}

.work-t a {
  text-decoration: none;
  color: black;
}

.work-t a:hover {
  color: red;
}

.contact {
  margin-top: 100px;
  font-size: 20px;
}

@media only screen and (max-width: 720px) {
  .card {
    width: 100%;
  }

  .card img {
    height: 400px;
  }

  .about {
    margin: 90px 0 90px 110px;
    width: 50%;
  }
}

@media only screen and (max-width: 605px) {
  .navbar h1 {
    margin-left: 90px;
  }

  .nav-links {
    margin: 20px 0 20px 150px;
  }

  .about {
    margin: 90px 0 90px 100px;
    width: 50%;
  }
}

@media only screen and (max-width: 525px) {
  .navbar h1 {
    margin-left: 50px;
  }

  .nav-links {
    margin: 20px 0 20px 120px;
  }
}

@media only screen and (max-width: 450px) {
  .navbar h1 {
    margin-left: 25px;
  }

  .nav-links {
    margin: 20px 0 20px 80px;
  }
}

@media only screen and (max-width: 400px) {
  body {
    padding-left: 10px;
  }

  .navbar h1 {
    margin-left: 10px;
  }

  .nav-links {
    margin: 20px 0 10px 55px;
  }

  .card {
    padding-right: 10px;
  }

  .about {
    margin: 90px 0 90px 60px;
  }
}

@media only screen and (max-width: 300px) {
  body {
    padding-left: 5px;
  }

  .card {
    padding-right: 5px;
  }

  .card img {
    height: 250px;
  }

  .about {
    margin: 90px 0 90px 20px;
  }
}

@media only screen and (min-width: 750px) {
  .nav-links {
    margin: 20px 0 20px 130px;
  }

  .about {
    margin: 90px 0 90px 120px;
    width: 50%;
  }
}

@media only screen and (min-width: 850px) {
  .nav-links {
    margin-left: 250px;
  }
  .card img {
    height: 350px;
  }
}

@media only screen and (min-width: 950px) {
  .nav-links {
    margin-left: 310px;
  }

  .about {
    margin: 90px 0 90px 200px;
    width: 50%;
  }
}

@media only screen and (min-width: 1150px) {
  .card img {
    height: 350px;
  }
}

@media only screen and (min-width: 1350px) {
  .card img {
    height: 400px;
  }

  .about {
    margin: 90px 0 90px 200px;
    width: 60%;
  }
}

@media only screen and (min-width: 1600px) {
  .card img {
    height: 500px;
  }
}

@media only screen and (min-width: 1850px) {
  .card img {
    height: 550px;
  }
}

@media only screen and (min-width: 2000px) {
  .card img {
    height: 600px;
  }
}
