* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 1fr 2fr 60px;
  grid-gap: 10px;
  height: 100vh;
}
.header {
  grid-column: 1/-1;
  background-color: rgb(81, 174, 211);
}
.sub-body-1 {
  grid-column: 1/4;
  background-color: rgb(253, 220, 180);
}
.sub-body-2 {
  grid-column: 4/7;
  column-gap: 10px;
  background-color: rgb(253, 220, 180);
}
.sub-body-3 {
  grid-column: 7/10;
  column-gap: 10px;
  background-color: rgb(253, 220, 180);
}
.main-body {
  grid-column: 1/10;
  background-color: rgb(10, 218, 103);
}
.sidebar {
  grid-row: 2/4;
  grid-column: 10/-1;
  background-color: rgb(112, 52, 3);
}
.footer {
  grid-column: 1/-1;
  background-color: #505759;
}
